<!DOCTYPE html>
<html>
   <head lang="en">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Job Details</title>
      <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,700,600,800,900,300' rel='stylesheet' type='text/css'>
      <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
      <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
      <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
      <link rel="stylesheet" type="text/css" href="css/default.css">
      <link rel="stylesheet" type="text/css" href="css/responsive.css">
      <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
      <link rel="stylesheet" type="text/css" href="css/owl.theme.default.css">
      <link rel="stylesheet" type="text/css" href="layerslider/layerslider.css">
      <link href="http://cdn.shopify.com/s/files/1/0067/5617/1846/t/2/assets/timber.scss.css" rel="stylesheet" type="text/css" media="all" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" rel="stylesheet" type="text/css" media="all" />
      <link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css" rel="stylesheet" type="text/css"/>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </head>
   <body>
      <!--Start Header section-->
      <section id="header">
         <header>
            <div class="top-bar">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-6 responsive-width-top">
                     </div>
                     <div class="col-sm-6 responsive-width-top">
                        <div class="links text-right">
                           <select class="select-language">
                              <option>EN</option>
                              <option>FR</option>
                              <option>AR</option>
                           </select>
                           <a href="accounts/dashboard.blade.php">My Account</a> |
                                <a href="accounts/login.blade.php">Login</a> |
                                <a href="accounts/registration.blade.php">Register</a> |
                                <a href="ads/post_ads.blade.php">Post a Ad</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!--end top bar-->
            <!--start menu-bar-->
            <div class="menu">
               <div class="menu-bar">
                  <div class="container">
                     <div class="row">
                        <div class="col-sm-3">
                           <div class="logo">
                              <a href="#"><img src="images/logo.png" alt="classify"></a>
                           </div>
                        </div>
                        <div class="col-sm-9">
                           <div class="row navbar-search">
                              <div class="col-sm-3 p-2 dropdown-search">
                                 <select class="select">
                                    <option>City</option>
                                    <option>Casablanca</option>
                                    <option>Fez</option>
                                    <option>Tangier</option>
                                    <option>Marrakesh</option>
                                    <option>Salé</option>
                                    <option>Meknes</option>
                                    <option>Rabat</option>
                                    <option>Kenitra</option>
                                    <option>Tetouan</option>
                                    <option>Beni Mellal</option>
                                    <option>Safi</option>
                                    <option>Oujda</option>
                                    <option>Inezgane Ait Melloul</option>
                                    <option>Agadir-Ida Ou Tanan</option>
                                    <option>Nador</option>
                                    <option>Khouribga</option>
                                    <option>Settat</option>
                                    <option>Skhirate-Temara</option>
                                    <option>El Jadida</option>
                                    <option>Khenifra</option>
                                    <option>Taza</option>
                                    <option>Mohammedia</option>
                                    <option>Larache</option>
                                    <option>Khemisset</option>
                                    <option>Sidi Kacem</option>
                                    <option>Azrou</option>
                                    <option>Errachidia</option>
                                    <option>Tarudant</option>
                                    <option>El Kelaa Des Sraghna</option>
                                    <option>Berkane</option>
                                    <option>Ouarzazate</option>
                                    <option>Taourirt</option>
                                    <option>Al Hoceima</option>
                                    <option>Essaouira</option>
                                    <option>El Hajeb</option>
                                    <option>Tiznit</option>
                                    <option>Azilal</option>
                                    <option>Ifrane</option>
                                    <option>Mediouna</option>
                                    <option>Benslimane</option>
                                    <option>Taounate</option>
                                    <option>Jerada</option>
                                    <option>Sefrou</option>
                                    <option>Figuig</option>
                                    <option>Tan-Tan</option>
                                    <option>Nouaceur</option>
                                    <option>Ouezzane</option>
                                    <option>Chefchaouen</option>
                                    <option>Boulemane</option>
                                    <option>Al Haouz</option>
                                    <option>Chichaoua</option>
                                    <option>Zagora</option>
                                    <option>Chtouka Ait Baha</option>
                                    <option>Mechra Bel Ksiri</option>
                                    <option>Moulay Yacoub</option>
                                 </select>
                              </div>
                              <div class="col-sm-3 p-2 dropdown-search">
                                 <select class="select">
                                    <option>All Categories</option>
                                    <option>Cars &amp; Bikes</option>
                                    <option>Mobiles &amp; Tablets</option>
                                    <option>Electronics &amp; Appliances</option>
                                    <option>Real Estate</option>
                                    <option>Services</option>
                                    <option>Jobs</option>
                                    <option>Home &amp; Lifestyle</option>
                                    <option>Education &amp; Training</option>
                                    <option>Pets &amp; Pet Care</option>
                                    <option>Entertainment</option>
                                    <option>Community</option>
                                    <option>Events</option>
                                    <option>Matrimonial</option>
                                 </select>
                              </div>
                              <div class="col-sm-6 p-2 search-box">
                                 <input class="keyword" type="text" name="keyword" placeholder="Search here...">
                                 <button class="btn"><i class="fa fa-search"></i></button>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!--end menu-bar-->
            </div>
         </header>
      </section>
      <!--End Header section-->
      <main class="bg-grey">
         <div class="container pt-5 pb-5">
         <div class="driverjob row m10">
            <div class="col-md-9 col-sm-12 mb15 paddingMsite">
               <div class="Cover clearfix">
                  <div id="jobs_vap_apply" class="jobtloc row jsApplyWrap">
                     <div class="jsjobtitle  col-md-12 pt-5">
                        <h1 class="jsJobTitle">Web Developer REQUIRED  </h1>
                        <div class="row comlocation">
                           <div class="postviewapp col-md-12">
                              <div class="lookingfor"> <i class="icon-user1" id="icon-basic_user2"></i>
                                 IT Software - Developer
                              </div>
                              <div class="lookingfor"> <i class="icon-basic_geolocalize-01" id="icon-basic_geolocalize-01"></i>
                                 <span class="activeCity"> Kanpur</span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-sm-12 apply-block m15">
                        <input type="hidden" id="appliedStatus" value="">
                        <!--Case One-->
                        <div class="">
                           <div class="row">
                              <div class="col-md-8 col-xs-7">
                                <button class="btn btn-default">Call recruiter</button>

                                 <button type="button" class="btn btn-dark-green">Apply</button>

                              </div>
                              <div class="col-md-4 col-xs-5 m15 text-right gray jobViews">
                                 Job Views: <span id="numOfViews"></span>
                              </div>
                           </div>
                        </div>
                        <!--Case One End-->
                     </div>
                  </div>
                  <div class="row postedContent">
                     <div class="col-sm-12 gray m5">
                        <div>
                           <span class="postby">
                           Posted by  <strong>Individual</strong>
                           &nbsp;| <span class="small">17 Jun 2019</span>
                           </span>
                           <span class="pull-right adid"> JOB: #<span class="jsAdId">322798940 </span></span>
                        </div>
                        <div class="trustBadges">
                        </div>
                        <div class="col-md-9 lp0">
                        </div>
                     </div>
                  </div>
                  <!--jobtloc End-->
                  <!--infosection-->
                  <div>
                     <input type="hidden" class="jsSalary" id="jsMin"  value = "8000">
                     <input type="hidden" class="jsSalary" id="jsMax" value=" 12000  ">
                  </div>
                  <div id="jobs_infosection" class="infosection">
                     <div class="row">
                        <div class="col-lg-12 col-sm-9">
                           <div id="tables" class="gray text-uppercase"><small>Job Details</small></div>
                           <table border="0" class="table-responsive">
                              <tbody>
                                 <tr>
                                 </tr>
                                 <tr>
                                    <td class="" valign="top"> Locality</td>
                                    <td valign="top" class="roleb"> Singhpur, Kalyanpur, Bithoor Road, Baikunthpur, Mainawati Marg </td>
                                 </tr>
                                 <tr>
                                    <td class="" valign="top">
                                       Role
                                    </td>
                                    <td valign="top" class="roleb">
                                       IT Software - Developer
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="" valign="top">
                                       Min Salary
                                    </td>
                                    <td valign="top" class="roleb">
                                       Rs. 8000
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="" valign="top">
                                       Max Salary
                                    </td>
                                    <td valign="top" class="roleb">
                                       Rs. 12000
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="" valign="top">
                                       Min Experience
                                    </td>
                                    <td valign="top" class="roleb">
                                       1 yr
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="" valign="top">
                                       Max Experience
                                    </td>
                                    <td valign="top" class="roleb">
                                       3 yrs
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="" valign="top">
                                    </td>
                                    <td valign="top" class="roleb">
                                    </td>
                                 </tr>
                                 <tr>
                                 </tr>
                                 <tr>
                                    <td class="vap-subrole-wrapper jsHERScore" valign="top">
                                       <div style="line-height: 16px">
                                          Recommended  <br> Hello English Score
                                    </td>
                                    <td valign="top" class="roleb"> <img alt="Hello English" src="https://teja10.kuikr.com/images/jobs/Hello-English-28-28.1555499617.png" style=" width: 18px; vertical-align: -4px;margin-right: 5px;">44-63 %
                                    </td>
                                 </tr>
                              </tbody>
                           </table>
                           </div>
                        </div>
                        <div class="row">
                           <div class="partiton col-md-8">
                              <div class="sub-title gray text-uppercase"><small>Job Description</small></div>
                              <p class="snb-break-word">
                                 write the programming code, either from scratch or by adapting existing website software and graphics packages to meet business requirements test the website and identify any technical problems upload the site onto a server and register it with different search engines.                                <!--<a class="dixp collapsed" aria-controls="collapseExample" aria-expanded="false" href="#dixp" data-toggle="collapse"> Read more </a>-->
                              </p>
                              <div class="scrollApply row">
                                 <div class="col-sm-12 apply-block m15">
                                    <!--Case One-->
                                    <div class="">
                                     <div class="row">
                                      <div class="col-md-8 col-xs-7">
                                        <button class="btn btn-default">Call recruiter</button>

                                        <button type="button" class="btn btn-dark-green">Apply</button>

                                    </div>
                               </div>
                                    </div>
                                    <!--Case One End-->
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <!--infosection end-->
                     <div class=" m15 clearfix">
                        <div class='clearfix gcolumn' style='margin:auto;min-height:0px;'>
                           <div id='vapMid1' class='vapMid1' data-dynamic='-1'></div>
                        </div>
                     </div>
                  </div>
               </div>
               <!--left-container-->
               <div class="col-md-3 hidden-sm hidden-xs pull-right">
                  <div class="qr-ad">
                     <div class='gcolumn'>
                        <div id='vapRight1' class='vapRight1' data-dynamic='-1'> </div>
                     </div>
                  </div>
                  <div class=" qr-ad" id="jsStickyAds">
                     <div class='gcolumn'>
                        <div id='vapRight2' class='vapRight2' data-dynamic='-1'> </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </main>
      <!--Footer-->
      <section id="footer">
         <footer>
            <div class="container">
               <div class="row">
                  <div class="col-md-3 col-sm-6">
                     <div class="widget">
                        <div class="logo pb-2">
                           <a href="#"><img src="images/logo.png" alt="classify"></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet sectetuer esl adipiscing elit sed diam nonummy nibhi euismod tincidunt ut <span class="col">laoreet dolore</span> amet magna aliquam erat volutpat. </p>
                        <p>Ut wisi enim ad minim veniam quis dest nostrud exerci tation ullamcorper norme
                           suscipit lobortis commodo consequat.
                        </p>
                     </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                     <div class="widget">
                        <h4>Information</h4>
                        <ul>
                           <li>
                              <a href="#">Our Story</a>
                           </li>
                           <li>
                              <a href="#">Privacy & Policy</a>
                           </li>
                           <li>
                              <a href="#">Terms & Conditions</a>
                           </li>
                           <li>
                              <a href="#">Shipping & Delivery</a>
                           </li>
                           <li>
                              <a href="#">Careers</a>
                           </li>
                           <li>
                              <a href="#">FAQ</a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                     <div class="widget">
                        <h4>Privacy Info</h4>
                        <ul>
                           <li>
                              <a href="#">Privacy & Policy</a>
                           </li>
                           <li>
                              <a href="#">Terms of Sale</a>
                           </li>
                           <li>
                              <a href="#">Terms of Use</a>
                           </li>
                           <li>
                              <a href="#">Report Abuse</a>
                           </li>
                           <li>
                              <a href="#">Terms of Use</a>
                           </li>
                           <li>
                              <a href="#">CSR Policy</a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                     <div class="widget">
                        <h4>Newsletter</h4>
                        <p class="sign">Lorem ipsum dolor sit amet sectetuer in adipiscing elit sed diam...</p>
                        <p class="sign">Sign up for the newsletter !</p>
                        <form method="post">
                           <input type="email" name="email" placeholder="Your email address...">
                           <input type="submit" name="submit" value="sign-up">
                        </form>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12">
                     <div class="copyright text-center">
                        <p>@ All Copyrights Reseverd 2019 - Design & Development by <a class="col" href="http://joinwebs.com">Weblinerz</a></p>
                     </div>
                  </div>
               </div>
            </div>
            <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
         </footer>
      </section>
      <!--End Footer-->
      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.js"></script>
      <script src="js/owl.carousel.js"></script>
      <script src="js/default.js"></script>
      <script src="js/greensock.js"></script>
      <script src="js/layersliderjquery.js"></script>
      <script src="js/transition.js"></script>
      </script>
   </body>
</html>
