<!DOCTYPE html>
<html>
   <head lang="en">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Notifications</title>
      <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,700,600,800,900,300' rel='stylesheet' type='text/css'>
      <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
      <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
      <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
      <link rel="stylesheet" type="text/css" href="css/default.css">
      <link rel="stylesheet" type="text/css" href="css/responsive.css">
      <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
      <link rel="stylesheet" type="text/css" href="css/owl.theme.default.css">
      <link rel="stylesheet" type="text/css" href="css/sidebar.css">
      <link rel="stylesheet" type="text/css" href="layerslider/layerslider.css">
      <style>
          table td label{
            color: #333;
          }
      </style>
   </head>
   <body>
      <!--Start Header section-->
      <section id="header">
        <header>
            <div class="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 responsive-width-top">

                        </div>
                        <div class="col-sm-6 responsive-width-top">
                            <div class="links text-right">
                                <select class="select-language">
                                    <option>EN</option>
                                    <option>FR</option>
                                    <option>AR</option>
                                </select>
                                <a href="accounts/dashboard.blade.php">My Account</a> |
                                <a href="accounts/login.blade.php">Login</a> |
                                <a href="accounts/registration.blade.php">Register</a> |
                                <a href="ads/post_ads.blade.php">Post a Ad</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end top bar-->

            <!--start menu-bar-->
            <div class="menu">
                <div class="menu-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="logo">
                                <a href="#"><img src="images/logo.png" alt="classify"></a>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="row navbar-search">
                                <div class="col-sm-3 p-2 dropdown-search">
                                    <select class="select">
                                        <option>City</option>
                                        <option>Casablanca</option>
                                        <option>Fez</option>
                                        <option>Tangier</option>
                                        <option>Marrakesh</option>
                                        <option>Salé</option>
                                        <option>Meknes</option>
                                        <option>Rabat</option>
                                        <option>Kenitra</option>
                                        <option>Tetouan</option>
                                        <option>Beni Mellal</option>
                                        <option>Safi</option>
                                        <option>Oujda</option>
                                        <option>Inezgane Ait Melloul</option>
                                        <option>Agadir-Ida Ou Tanan</option>
                                        <option>Nador</option>
                                        <option>Khouribga</option>
                                        <option>Settat</option>
                                        <option>Skhirate-Temara</option>
                                        <option>El Jadida</option>
                                        <option>Khenifra</option>
                                        <option>Taza</option>
                                        <option>Mohammedia</option>
                                        <option>Larache</option>
                                        <option>Khemisset</option>
                                        <option>Sidi Kacem</option>
                                        <option>Azrou</option>
                                        <option>Errachidia</option>
                                        <option>Tarudant</option>
                                        <option>El Kelaa Des Sraghna</option>
                                        <option>Berkane</option>
                                        <option>Ouarzazate</option>
                                        <option>Taourirt</option>
                                        <option>Al Hoceima</option>
                                        <option>Essaouira</option>
                                        <option>El Hajeb</option>
                                        <option>Tiznit</option>
                                        <option>Azilal</option>
                                        <option>Ifrane</option>
                                        <option>Mediouna</option>
                                        <option>Benslimane</option>
                                        <option>Taounate</option>
                                        <option>Jerada</option>
                                        <option>Sefrou</option>
                                        <option>Figuig</option>
                                        <option>Tan-Tan</option>
                                        <option>Nouaceur</option>
                                        <option>Ouezzane</option>
                                        <option>Chefchaouen</option>
                                        <option>Boulemane</option>
                                        <option>Al Haouz</option>
                                        <option>Chichaoua</option>
                                        <option>Zagora</option>
                                        <option>Chtouka Ait Baha</option>
                                        <option>Mechra Bel Ksiri</option>
                                        <option>Moulay Yacoub</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 p-2 dropdown-search">
                                    <select class="select">
                                        <option>All Categories</option>

                                        <option>Cars &amp; Bikes</option>
                                        <option>Mobiles &amp; Tablets</option>
                                        <option>Electronics &amp; Appliances</option>
                                        <option>Real Estate</option>
                                        <option>Services</option>
                                        <option>Jobs</option>
                                        <option>Home &amp; Lifestyle</option>
                                        <option>Education &amp; Training</option>
                                        <option>Pets &amp; Pet Care</option>
                                        <option>Entertainment</option>
                                        <option>Community</option>
                                        <option>Events</option>
                                        <option>Matrimonial</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 p-2 search-box">
                                    <input class="keyword" type="text" name="keyword" placeholder="Search here...">
                                    <button class="btn"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end menu-bar-->
            </div>
        </header>
    </section>
      <!--End Header section-->
      <!--start Layer slider-->
      <section id="slider">
         <div id="full-slider-wrapper">
            <div id="layerslider" style="width:100%;height:200px;">
               <div class="ls-slide" data-ls="transition2d:1;timeshift:-1000;">
                  <img style="margin: 0 !important;" src="images/slider/cat-bg.png" class="ls-bg" alt="Slide background"/>
                  <h1 class="ls-l" style="font-family: 'Roboto Slab', serif; color: #fff; top:100px; ;font-weight: 700; left:116px; top:70px;left: 0;right: 0;text-align: center;" data-ls="offsetxin:0;durationin:2000;delayin:2000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% top 0;offsetxout:-400;">
                     My Dashoboard
                  </h1>
                  <h2 class="ls-l pt-4" style="font-family: Raleway, sans-serif; top: 110px; font-weight: 300; height: 40px; padding: 5px 22px; font-size: 17px; line-height: 37px; color: rgb(255, 255, 255); border-radius: 3px; white-space: nowrap;right: 0px; text-align: center; width: auto; border-width: 0px; margin-left: 0px; margin-top: 0px; transform-origin: 50% top 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.002, 0, 0, 0, 1); opacity: 1; visibility: visible;" data-ls="offsetxin:0;durationin:2000;delayin:1500;easingin:easeOutElastic;rotatexin:-90;transformoriginin:50% top 0;offsetxout:-200;durationout:1000;">
                     Home&emsp;<i class="fa fa-caret-right" aria-hidden="true"></i>&emsp;Profile
                  </h2>
               </div>
            </div>
         </div>
      </section>
      <!--end layer slider section-->
      <section class="pt-5 mt-5 fixed-header-margin">
         <div class="wrapper container">
            <!-- Sidebar  -->
            <nav id="sidebar" class="">
               <div class="profile-pic">
                  <img src="images/dash-profile.png" class="image-resposive">
               </div>
               <ul class="list-unstyled components pt-1 pb-0">
                  <p class="pl-5">John Doe</p>
                  <ul class="profile-details list-unstyled components">
                     <li>
                        <span class="fa fa-map-marker"></span>&emsp; UK London
                     </li>
                     <li>
                        <span class="fa fa-envelope"></span>&emsp; contact@gmail.com
                     </li>
                     <li>
                        <span class="fa fa-phone"></span>&emsp; (123) 000-1234
                     </li>
                  </ul>
                  <li>
                     <a href="classified_dashboard.htm">Profile</a>
                  </li>
                  <li>
                     <a href="accounts/my_ads.blade.php">My Ads</a>
                  </li>
                  <li>
                     <a href="accounts/my_favorite.blade.php">Favorite Ads</a>
                  </li>
                  <li>
                     <a href="classified_archieves.html">Archives</a>
                  </li>
                  <li>
                     <a href="accounts/messages.blade.php">Messages</a>
                  </li>
                  <li class="active">
                     <a href="classified_notifications.html">Notifications</a>
                  </li>
                  <li>
                     <a href="classified_orders.html">Orders</a>
                  </li>
                  <li>
                     <a href="classified_orders.html">Payment Details</a>
                  </li>
                  <li>
                     <a href="classified_payment.html">Ad Credit Details</a>
                  </li>
               </ul>
            </nav>
            <!-- Page Content  -->
            <div id="content" class="pt-0">
               <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-sidebar">
                  <div class="container-fluid">
                     <button type="button" id="sidebarCollapse" class="btn btn-info">
                     <span class="fa fa-bars"></span>
                     </button>
                  </div>
               </nav>
               <div class="container-fluid jd">
                  <div class="row mb-5 my-packages">
                     <div class="col-md-12">
                        <div class="bg-white">
                           <div class="my-packages-head">
                              <h4>All Notifications</h4>
                           </div>
                           <div class="my-packages-body">
                              <div class="row">
                                 <div class="col-md-12 pt-2 pr-5">
                                    <a href="" class="pull-right backtojobs dlt-read-all">Delete All</a>
                                    <a href="" class="pull-right backtojobs dlt-read-all pr-3">Mark all as read</a>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col-md-12 pt-2 pb-2 white-section shadow">
                                    <div class="table-responsive">
                                       <table class="table">
                                       <tbody>
                                          <tr>
                                             <td class="first"><a href="#" class="unread"><input type="checkbox" id="test1">
                                                <label for="test1">There are many variations of passages of Lorem Ipsum available, but the </label></a>
                                             </td>
                                             <td colspan="notification-hover" class="first" width="100">
                                                <p class="noti-hover-text">1 hour ago</p>
                                                <label class="noti-hover-icons">
                                                   <span class="fa fa-download"></span>
                                                   <span class="fa fa-trash"></span>
                                                   <span class="fa fa-ban"></span>
                                                </label>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td><a href="#" class="unread"><input type="checkbox" id="test2">
                                                <label for="test2">There are many variations of passages of Lorem Ipsum available, but the </label></a>
                                             </td>
                                             <td colspan="notification-hover">
                                                <p class="noti-hover-text">1 hour ago</p>
                                                <label class="noti-hover-icons">
                                                   <span class="fa fa-download"></span>
                                                   <span class="fa fa-trash"></span>
                                                   <span class="fa fa-ban"></span>
                                                </label>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td><a href="#" class="namme"><input type="checkbox" id="test3">
                                                <label for="test3">There are many variations of passages of Lorem Ipsum available, but the </label></a>
                                             </td>
                                             <td colspan="notification-hover">
                                                <p class="noti-hover-text">1 hour ago</p>
                                                <label class="noti-hover-icons">
                                                   <span class="fa fa-download"></span>
                                                   <span class="fa fa-trash"></span>
                                                   <span class="fa fa-ban"></span>
                                                </label>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td><a href="#" class="namme"><input type="checkbox" id="test4">
                                                <label for="test4">There are many variations of passages of Lorem Ipsum available, but the </label></a>
                                             </td>
                                             <td colspan="notification-hover">
                                                <p class="noti-hover-text">1 hour ago</p>
                                                <label class="noti-hover-icons">
                                                   <span class="fa fa-download"></span>
                                                   <span class="fa fa-trash"></span>
                                                   <span class="fa fa-ban"></span>
                                                </label>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td><a href="#" class="namme"><input type="checkbox" id="test5">
                                                <label for="test5">There are many variations of passages of Lorem Ipsum available, but the </label></a>
                                             </td>
                                             <td colspan="notification-hover">
                                                <p class="noti-hover-text">1 hour ago</p>
                                                <label class="noti-hover-icons">
                                                   <span class="fa fa-download"></span>
                                                   <span class="fa fa-trash"></span>
                                                   <span class="fa fa-ban"></span>
                                                </label>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td><a href="#" class="namme"><input type="checkbox" id="test6">
                                                <label for="test6">There are many variations of passages of Lorem Ipsum available, but the </label></a>
                                             </td>
                                             <td colspan="notification-hover">
                                                <p class="noti-hover-text">1 hour ago</p>
                                                <label class="noti-hover-icons">
                                                   <span class="fa fa-download"></span>
                                                   <span class="fa fa-trash"></span>
                                                   <span class="fa fa-ban"></span>
                                                </label>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td><a href="#" class="namme"><input type="checkbox" id="test7">
                                                <label for="test7">There are many variations of passages of Lorem Ipsum available, but the </label></a>
                                             </td>
                                             <td colspan="notification-hover">
                                                <p class="noti-hover-text">1 hour ago</p>
                                                <label class="noti-hover-icons">
                                                   <span class="fa fa-download"></span>
                                                   <span class="fa fa-trash"></span>
                                                   <span class="fa fa-ban"></span>
                                                </label>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td><a href="#" class="namme"><input type="checkbox" id="test8">
                                                <label for="test8">There are many variations of passages of Lorem Ipsum available, but the </label></a>
                                             </td>
                                             <td colspan="notification-hover">
                                                <p class="noti-hover-text">1 hour ago</p>
                                                <label class="noti-hover-icons">
                                                   <span class="fa fa-download"></span>
                                                   <span class="fa fa-trash"></span>
                                                   <span class="fa fa-ban"></span>
                                                </label>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td><a href="#" class="namme"><input type="checkbox" id="test9">
                                                <label for="test9">There are many variations of passages of Lorem Ipsum available, but the </label></a>
                                             </td>
                                             <td colspan="notification-hover">
                                                <p class="noti-hover-text">1 hour ago</p>
                                                <label class="noti-hover-icons">
                                                   <span class="fa fa-download"></span>
                                                   <span class="fa fa-trash"></span>
                                                   <span class="fa fa-ban"></span>
                                                </label>
                                             </td>
                                          </tr>
                                          <tr>
                                             <td><a href="#" class="namme"><input type="checkbox" id="test10">
                                                <label for="test10">There are many variations of passages of Lorem Ipsum available, but the </label></a>
                                             </td>
                                             <td colspan="notification-hover">
                                                <p class="noti-hover-text">1 hour ago</p>
                                                <label class="noti-hover-icons">
                                                   <span class="fa fa-download"></span>
                                                   <span class="fa fa-trash"></span>
                                                   <span class="fa fa-ban"></span>
                                                </label>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--Category-->
      <!--Footer-->
      <section id="footer">
         <footer>
            <div class="container">
               <div class="row">
                  <div class="col-md-3 col-sm-6">
                     <div class="widget">
                        <div class="logo pb-2">
                           <a href="#"><img src="images/logo.png" alt="classify"></a>
                        </div>
                        <p>Lorem ipsum dolor sit amet sectetuer esl adipiscing elit sed diam nonummy nibhi euismod tincidunt ut <span class="col">laoreet dolore</span> amet magna aliquam erat volutpat. </p>
                        <p>Ut wisi enim ad minim veniam quis dest nostrud exerci tation ullamcorper norme
                           suscipit lobortis commodo consequat.
                        </p>
                     </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                     <div class="widget">
                        <h4>Information</h4>
                        <ul>
                           <li>
                              <a href="#">Our Story</a>
                           </li>
                           <li>
                              <a href="#">Privacy & Policy</a>
                           </li>
                           <li>
                              <a href="#">Terms & Conditions</a>
                           </li>
                           <li>
                              <a href="#">Shipping & Delivery</a>
                           </li>
                           <li>
                              <a href="#">Careers</a>
                           </li>
                           <li>
                              <a href="#">FAQ</a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                     <div class="widget">
                        <h4>Privacy Info</h4>
                        <ul>
                           <li>
                              <a href="#">Privacy & Policy</a>
                           </li>
                           <li>
                              <a href="#">Terms of Sale</a>
                           </li>
                           <li>
                              <a href="#">Terms of Use</a>
                           </li>
                           <li>
                              <a href="#">Report Abuse</a>
                           </li>
                           <li>
                              <a href="#">Terms of Use</a>
                           </li>
                           <li>
                              <a href="#">CSR Policy</a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                     <div class="widget">
                        <h4>Newsletter</h4>
                        <p class="sign">Lorem ipsum dolor sit amet sectetuer in adipiscing elit sed diam...</p>
                        <p class="sign">Sign up for the newsletter !</p>
                        <form method="post">
                           <input type="email" name="email" placeholder="Your email address...">
                           <input type="submit" name="submit" value="sign-up">
                        </form>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-12">
                     <div class="copyright text-center">
                        <p>@ All Copyrights Reseverd 2019 - Design & Development by <a class="col" href="http://joinwebs.com">Weblinerz</a></p>
                     </div>
                  </div>
               </div>
            </div>
            <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
         </footer>
      </section>
      <!--End Footer-->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
      <script src="js/jquery.js"></script>
      <script src="js/bootstrap.js"></script>
      <script src="js/owl.carousel.js"></script>
      <script src="js/default.js"></script>
      <script src="js/greensock.js"></script>
      <script src="js/layersliderjquery.js"></script>
      <script src="js/transition.js"></script>
      <script>
         (function($) {
         "use strict"

         // NAVIGATION
         var responsiveNav = $('#responsive-nav'),
         catToggle = $('#responsive-nav .category-nav .category-header'),
         catList = $('#responsive-nav .category-nav .category-list'),
         menuToggle = $('#responsive-nav .menu-nav .menu-header'),
         menuList = $('#responsive-nav .menu-nav .menu-list');

         catToggle.on('click', function() {
         menuList.removeClass('open');
         catList.toggleClass('open');
         });

         menuToggle.on('click', function() {
         catList.removeClass('open');
         menuList.toggleClass('open');
         });

         $(document).click(function(event) {
         if (!$(event.target).closest(responsiveNav).length) {
         if (responsiveNav.hasClass('open')) {
         responsiveNav.removeClass('open');
         $('#navigation').removeClass('shadow');
         } else {
         if ($(event.target).closest('.nav-toggle > button').length) {
           if (!menuList.hasClass('open') && !catList.hasClass('open')) {
             menuList.addClass('open');
           }
           $('#navigation').addClass('shadow');
           responsiveNav.addClass('open');
         }
         }
         }
         });

         })(jQuery);
      </script>
      <script type="text/javascript">
         $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
         });
      </script>
      <script>
         (function(){

           $("#cart").on("click", function() {
             $(".shopping-cart").fadeToggle( "fast");
         });

         })();
      </script>
   </body>
</html>
