<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reset Password</title>

    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,700,600,800,900,300' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="layerslider/layerslider.css">
    <style>
    .main-heading h2 {
        padding: 0 0 0 0;
    }
    .bg-pass{
        background-color: #7aba7a;
    }
    .main-heading {
        background: unset;
        margin: 70px 0 30px 0;
    }
    .main-heading h2, .main-heading p, .pass-reset p{
        color: #fff;
    }
    .bg-pass .pass-reset input[type="email"] {
        color: #65628d;
        width: 100%;
        background: #fff;
        border: none;
        border-bottom: 1px solid #ffffff;
        padding: 10px;
        margin: 0 0 10px 0;
    }
    .btn.btn-default {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    </style>
</head>
<body>

    <!--Start Header section-->
    <section id="header">
        <header>
            <div class="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 responsive-width-top">

                        </div>
                        <div class="col-sm-6 responsive-width-top">
                            <div class="links text-right">
                                <select class="select-language">
                                    <option>EN</option>
                                    <option>FR</option>
                                    <option>AR</option>
                                </select>
                                <a href="accounts/dashboard.blade.php">My Account</a> |
                                <a href="accounts/login.blade.php">Login</a> |
                                <a href="accounts/registration.blade.php">Register</a> |
                                <a href="ads/post_ads.blade.php">Post a Ad</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end top bar-->

            <!--start menu-bar-->
            <div class="menu">
                <div class="menu-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="logo">
                                <a href="#"><img src="images/logo.png" alt="classify"></a>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="row navbar-search">
                                <div class="col-sm-3 p-2 dropdown-search">
                                    <select class="select">
                                        <option>City</option>
                                        <option>Casablanca</option>
                                        <option>Fez</option>
                                        <option>Tangier</option>
                                        <option>Marrakesh</option>
                                        <option>Salé</option>
                                        <option>Meknes</option>
                                        <option>Rabat</option>
                                        <option>Kenitra</option>
                                        <option>Tetouan</option>
                                        <option>Beni Mellal</option>
                                        <option>Safi</option>
                                        <option>Oujda</option>
                                        <option>Inezgane Ait Melloul</option>
                                        <option>Agadir-Ida Ou Tanan</option>
                                        <option>Nador</option>
                                        <option>Khouribga</option>
                                        <option>Settat</option>
                                        <option>Skhirate-Temara</option>
                                        <option>El Jadida</option>
                                        <option>Khenifra</option>
                                        <option>Taza</option>
                                        <option>Mohammedia</option>
                                        <option>Larache</option>
                                        <option>Khemisset</option>
                                        <option>Sidi Kacem</option>
                                        <option>Azrou</option>
                                        <option>Errachidia</option>
                                        <option>Tarudant</option>
                                        <option>El Kelaa Des Sraghna</option>
                                        <option>Berkane</option>
                                        <option>Ouarzazate</option>
                                        <option>Taourirt</option>
                                        <option>Al Hoceima</option>
                                        <option>Essaouira</option>
                                        <option>El Hajeb</option>
                                        <option>Tiznit</option>
                                        <option>Azilal</option>
                                        <option>Ifrane</option>
                                        <option>Mediouna</option>
                                        <option>Benslimane</option>
                                        <option>Taounate</option>
                                        <option>Jerada</option>
                                        <option>Sefrou</option>
                                        <option>Figuig</option>
                                        <option>Tan-Tan</option>
                                        <option>Nouaceur</option>
                                        <option>Ouezzane</option>
                                        <option>Chefchaouen</option>
                                        <option>Boulemane</option>
                                        <option>Al Haouz</option>
                                        <option>Chichaoua</option>
                                        <option>Zagora</option>
                                        <option>Chtouka Ait Baha</option>
                                        <option>Mechra Bel Ksiri</option>
                                        <option>Moulay Yacoub</option>
                                    </select>
                                </div>
                                <div class="col-sm-3 p-2 dropdown-search">
                                    <select class="select">
                                        <option>All Categories</option>

                                        <option>Cars &amp; Bikes</option>
                                        <option>Mobiles &amp; Tablets</option>
                                        <option>Electronics &amp; Appliances</option>
                                        <option>Real Estate</option>
                                        <option>Services</option>
                                        <option>Jobs</option>
                                        <option>Home &amp; Lifestyle</option>
                                        <option>Education &amp; Training</option>
                                        <option>Pets &amp; Pet Care</option>
                                        <option>Entertainment</option>
                                        <option>Community</option>
                                        <option>Events</option>
                                        <option>Matrimonial</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 p-2 search-box">
                                    <input class="keyword" type="text" name="keyword" placeholder="Search here...">
                                    <button class="btn"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end menu-bar-->
            </div>
        </header>
    </section>

    <section class="bg-pass">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="main-heading text-center">
                                <h2>Password Reset</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                            </div>
                        </div>
                    </div>
                    <div class="row pass-reset pt-5 pb-5">
                        <div class="col-md-12">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
                            <input type="email" name="email" placeholder="Your email address...">
                        </div>
                        <div class="col-md-12">
                            <a href="#" class="btn btn-default">Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Footer-->
    <section id="footer">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <div class="logo pb-2">
                                <a href="#"><img src="images/logo.png" alt="classify"></a>
                            </div>
                            <p>Lorem ipsum dolor sit amet sectetuer esl adipiscing elit sed diam nonummy nibhi euismod tincidunt ut <span class="col">laoreet dolore</span> amet magna aliquam erat volutpat. </p>
                            <p>Ut wisi enim ad minim veniam quis dest nostrud exerci tation ullamcorper norme
                                suscipit lobortis commodo consequat.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h4>Information</h4>
                            <ul>
                                <li>
                                    <a href="#">Our Story</a>
                                </li>
                                <li>
                                    <a href="#">Privacy & Policy</a>
                                </li>
                                <li>
                                    <a href="#">Terms & Conditions</a>
                                </li>
                                <li>
                                    <a href="#">Shipping & Delivery</a>
                                </li>
                                <li>
                                    <a href="#">Careers</a>
                                </li>
                                <li>
                                    <a href="#">FAQ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h4>Privacy Info</h4>
                            <ul>
                                <li>
                                    <a href="#">Privacy & Policy</a>
                                </li>
                                <li>
                                    <a href="#">Terms of Sale</a>
                                </li>
                                <li>
                                    <a href="#">Terms of Use</a>
                                </li>
                                <li>
                                    <a href="#">Report Abuse</a>
                                </li>
                                <li>
                                    <a href="#">Terms of Use</a>
                                </li>
                                <li>
                                    <a href="#">CSR Policy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="widget">
                            <h4>Newsletter</h4>
                            <p class="sign">Lorem ipsum dolor sit amet sectetuer in adipiscing elit sed diam...</p>
                            <p class="sign">Sign up for the newsletter !</p>
                            <form method="post">
                                <input type="email" name="email" placeholder="Your email address...">
                                <input type="submit" name="submit" value="sign-up">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright text-center">
                            <p>@ All Copyrights Reseverd 2019 - Design & Development by <a class="col" href="http://joinwebs.com">Weblinerz</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
        </footer>
    </section>
    <!--End Footer-->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/default.js"></script>
    <script src="js/greensock.js"></script>
    <script src="js/layersliderjquery.js"></script>
    <script src="js/transition.js"></script>
    <script>
        (function(){

          $("#cart").on("click", function() {
            $(".shopping-cart").fadeToggle( "fast");
        });

      })();
    </script>
    <script>
        (function($) {
  "use strict"

  // NAVIGATION
  var responsiveNav = $('#responsive-nav'),
    catToggle = $('#responsive-nav .category-nav .category-header'),
    catList = $('#responsive-nav .category-nav .category-list'),
    menuToggle = $('#responsive-nav .menu-nav .menu-header'),
    menuList = $('#responsive-nav .menu-nav .menu-list');

  catToggle.on('click', function() {
    menuList.removeClass('open');
    catList.toggleClass('open');
  });

  menuToggle.on('click', function() {
    catList.removeClass('open');
    menuList.toggleClass('open');
  });

  $(document).click(function(event) {
    if (!$(event.target).closest(responsiveNav).length) {
      if (responsiveNav.hasClass('open')) {
        responsiveNav.removeClass('open');
        $('#navigation').removeClass('shadow');
      } else {
        if ($(event.target).closest('.nav-toggle > button').length) {
          if (!menuList.hasClass('open') && !catList.hasClass('open')) {
            menuList.addClass('open');
          }
          $('#navigation').addClass('shadow');
          responsiveNav.addClass('open');
        }
      }
    }
  });

})(jQuery);
    </script>


</body>
</html>
